* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  /* Style the header */
  .header {
    background-color: #114AB1;
    padding: 20px;
    text-align: center;
  }

  /* Style the main content of the website*/
  main{
    background-color:#6793AC;
  }

  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Nav column */
  .column.nav {
    width: 10%;
    background-color: #E4580B;
  }
  
  /* Middle column */
  .column.middle {
    width: 65%;
  }

  /* Right column */
  .column.side {
    width: 25%;
    background-color:#E4580B;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  footer {
    background-color:#6793AC;
  }
  footer p{
    margin:0;
    padding:1%;
    text-align:center;
  }
  
  /* Restricts the website to a maximum width of 1100px */
  @media (min-width: 1100px){
    body {
      max-width:1100px;
      margin:auto;
    }
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }