* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  /* Style the header */
  .header {
    background-color: #114AB1;
    padding: 20px;
    text-align: center;
  }

  /* Style the main content of the website*/
  main{
    background-color:#6793AC;
  }

  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left column */
  .column.left {
    padding:0px;
    width: 10%;
    background-color: #E4580B;
  }

  /* Positions elements in .navbar div*/
  .navbar {
    position: relative;
    display:inline-block;
  }

  /* Styles the  Menu buttons*/
  .menu{
    background-color: #E4580B;
    margin:0;
    padding:15px;
    font-size:18px;
    color:black;
    border:none;
    cursor:pointer;
  }
 
  /* Styles the Menus*/
  .link {
    display:none;
    position:absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Styles the links in the Menus*/
  .link a{
    display:block;
    padding:12px 16px;
    text-decoration:none;
    font-size:large;
    color:black;
    background-color:white;
  }

  /* Styles hovered links*/
  .link a:hover{
    background-color:#E3DAC9;
  }

  /* Feel like I can tidy this up a bit,
      but I'm happy enough that it worls
      for the moment*/

  /*Styles Menu button when hovered*/
  .navbar:hover .menu {
    background-color: #bd4b0e;
  }

  /* Makes the links visible when the menu is hovered.
     Connects the first menu (navbar a) to the first 
     link (link a)*/
  .navbar.a:hover .link.a {
    display:inline-block;
  }

  /* Connects the second menu (navbar b) to the second
     link (link b)*/
  .navbar.b:hover .link.b {
    display:inline-block;
  }

  /* Connects the second menu (navbar b) to the second
     link (link b)*/
     .navbar.c:hover .link.c {
      display:inline-block;
    }

    /* Connects the second menu (navbar b) to the second
     link (link b)*/
  .navbar.d:hover .link.d {
    display:inline-block;
  }
 
 
  

  
  /* Middle column */
  .column.middle {
    width: 65%;
  }

  /* Right column */
  .column.side {
    width: 25%;
    background-color:#E4580B;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  footer {
    background-color:#6793AC;
  }
  footer p{
    margin:0;
    padding:1%;
    text-align:center;
  }
  
  /* Restricts the website to a maximum width of 1100px */
  @media (min-width: 1100px){
    body {
      max-width:1100px;
      margin:auto;
    }
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }