
* {
    box-sizing: border-box;
  }
  
  /*It's kind of ridiculous that I have to tell
  the browser that I want the max width to be 100%. 
  Surely that should be the default*/
  body {
    margin: 0;
    background-color:#80401e;
    width:100%;
  }
  
  /* Style the main content of the website*/
  main{
    background-color:#6793AC;
   }

  /* Style the header */
  .header {
    background-color: #114AB1;
    padding: 20px;
    text-align: center;
  }

  .header a {
    text-decoration:none;
    color:black;
  }

  .navbutton {
    display:none;
  }

  /* Create three unequal columns that float next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left column */
  .column.left {
    padding:0px;
    width: 10%;
    background-color: #E4580B;
  }

  /* Positions elements in .navbar div*/
  .navbar {
    position: relative;
    display:inline-block;
  }

  /* Styles the  Menu buttons*/
  .menu{
    background-color: #E4580B;
    margin:0;
    padding:15px;
    font-size:18px;
    color:black;
    border:none;
    cursor:pointer;
  }
 
  /* Styles the Menus*/
  .link {
    display:none;
    position:absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Styles the links in the Menus*/
  .link a{
    display:block;
    padding:12px 16px;
    text-decoration:none;
    font-size:large;
    color:black;
    background-color:white;
  }

  /* Styles hovered links*/
  .link a:hover{
    background-color:#E3DAC9;
  }

  /* Feel like I can tidy this up a bit,
      but I'm happy enough that it works
      for the moment*/

  /*Styles Menu button when hovered*/
  .menu:hover {
    background-color: #bd4b0e;
  }

  /* Makes the links visible when the menu is hovered.
     Connects the first menu (navbar a) to the first 
     link (link a)*/
   .navbar.A:hover .link.A {
    display:inline-block;
  }

  /*
  .menu.A:hover + .link.A {
    display:inline-block;
  }

  .link.A:hover {
    display:inline-block;
  }
  */

  /* Connects the second menu (navbar b) to the second
     link (link b)*/
  .navbar.B:hover .link.B {
    display:inline-block;
  }

  /* Connects the third menu (navbar c) to the second
     link (link c)*/
     .navbar.C:hover .link.C {
      display:inline-block;
    }

    /* Connects the fourth menu (navbar d) to the second
     link (link d)*/
  .navbar.D:hover .link.D {
    display:inline-block;
  }
 
 
  

  
  /* Middle column */
  .column.middle {
    width: 65%;
  }

  /* Right column */
  .column.right {
    width: 25%;
    background-color:#E4580B;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  footer {
    background-color:#6793AC;
  }
  footer p{
    margin:0;
    padding:1%;
    text-align:center;
  }
  


  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  /* Styles the viewport (screen) whem the width is less than 600px */

  /*
  @media screen and (max-width: 600px) {
    /*I want to try make this display:none for the menu links, and add
    a button to display it when it's pressed for small screens.
    I think this will involve javaScript*
    .column.left, .column.middle, .column.right {
      width: 100%;
    }
      .navbar.A:hover .link.A {
        display:block;
      }
      .navbar.B:hover .link.B {
        display:block;
      }
      .navbar.C:hover .link.C {
        display:block;
      }
      .navbar.D:hover .link.D {
        display:block;
      }
      
      /*
      .navbar{
        display:none;
      }
      *
  }
  */

  @media screen and (max-width: 600px) {
    .column.left, .column.middle, .column.right {
      width: 100%;
    }

    .column.left {
      clear:both;
    }
    .navbar {
      display:none;
    }

    .navbutton {
      display:block;
      border:none;
      border-radius:3px;
      background:none;
      color:darkgray;
      font-size:1.25em;
      cursor:pointer;
      padding:0px;
      position:fixed;
      top:0px;
      right:0px;
      padding-right:2%;
    }

    .nav{
      position:fixed;
      top:46px;
      background-color:white;
      width:100%;
    }
    .menu{
      background-color:white;
      border-bottom:black 1px solid;
      font-weight: bold;
    }
    .link{
      box-shadow:none;
      a {
        padding:8px;
      }
    }
    .column.left:hover .navbar{
      
      
      display:inline-block;
      
      
      .link {
        display:block;
      }
    }
      

    
  /*
      .navbar.A {
        display:block;
      }
      .navbar.B:hover .link.B {
        display:block;
      }
      .navbar.C:hover .link.C {
        display:block;
      }
      .navbar.D:hover .link.D {
        display:block;
      }
     */ 
    
  }

  /* Styles the screen when the width is between 600 and 768px*/
  @media (min-width: 600px) and (max-width: 768px) {
    .column.left, .column.middle, .column.right {
      width: 100%;
    }
    /* Similar to the last one, I want to try and make this display the 
    dropdown menu when the button is pressed, and hide it when it's not*/
    /* I think this will involve javaScript*/
    /* I have just discovered that CSS does this by default when using touchscreen
       instead of a cursor, so I am quite delighted*/
       .navbar.A:hover .link.A {
        display:block;
      }
      .navbar.B:hover .link.B {
        display:block;
      }
      .navbar.C:hover .link.C {
        display:block;
      }
      .navbar.D:hover .link.D {
        display:block;
      }
  }

  /* Styles the screen when the width is between 768 and 992px*/
  @media (min-width: 768px) and (max-width: 992px) {
    .column.left{
      width:100%;
    }
      .navbar.A:hover .link.A {
        display:block;
      }
      .navbar.B:hover .link.B {
        display:block;
      }
      .navbar.C:hover .link.C {
        display:block;
      }
      .navbar.D:hover .link.D {
        display:block;
      }
    .column.middle{
      width:75%;
    }
    .column.right{
      width:25%;
    }
    
  }

  /* Styles the screen when the width is over 992px*/
  @media (min-width: 992px){
    .navbar{
      width:100%;
    }
    .menu{
      width:100%;
    }
  }

  /* Styles the screen when the width is over 1200px*/
  /* Restricts the website to a maximum width of 1200px */
  @media (min-width: 1200px){
    body {
       max-width:1200px;
       margin:auto;
       background-color:#80401e;
       border: 1px solid #000000;
    }
  }

/*
   Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}

 Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

 Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

 Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

 Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}
*/